#errorCatcher Echo
## month.json.tmpl
{
  "meta": {
    "time": $current.dateTime.raw
  },
  "obs": {
    "outTemp": {
      "min": $month.outTemp.min.raw,
      "max": $month.outTemp.max.raw,
      "unit": "$unit.label.outTemp",
      "graph": $month.outTemp.series(time_type='unix_epoch', aggregating_interval=10800)
    },
    "outHumidity": {
      "min": $month.outHumidity.min.raw,
      "max": $month.outHumidity.max.raw,
      "unit": "$unit.label.outHumidity",
      "graph": $month.outHumidity.series(time_type='unix_epoch', aggregating_interval=10800)
    },
    "barometer": {
      "min": $month.barometer.min.raw,
      "max": $month.barometer.max.raw,
      "unit": "$unit.label.barometer",
      "graph": $month.barometer.series(time_type='unix_epoch', aggregating_interval=10800)
    },
    "windSpeed": {
      "min": $month.windSpeed.min.raw,
      "max": $month.windSpeed.max.raw,
      "unit": "$unit.label.windSpeed",
      "graph": $month.windSpeed.series(time_type='unix_epoch', aggregating_interval=10800)
    },
    "windDir": {
      "graph": $month.windDir.series(time_type='unix_epoch', aggregating_interval=10800)
    },
    "rain": {
      "sum": $month.rain.sum.raw,
      "unit": "$unit.label.rain",
      "graph": $month.rain.series(time_type='unix_epoch', aggregating_interval=10800)
    },
    "rainRate": {
      "max": $month.rainRate.max.raw
    },
    "UV": {
      "max": $month.UV.max.raw,
      "unit": ""
    }
  }
}
