#errorCatcher Echo
## current.json.tmpl
{
  "title": "$station.location",
  "time": $current.dateTime.raw,
  "observations": [
    {
      "observation": "outTemp",
      "current": $current.outTemp.json,
      "unit": "$unit.label.outTemp",
      "label": "Temperature"
    },
    {
      "observation": "outHumidity",
      "current": $current.outHumidity.json,
      "unit": "$unit.label.outHumidity",
      "label": "Humidity"
    },
    {
      "observation": "barometer",
      "current": $current.barometer.json,
      "unit": "$unit.label.barometer",
      "label": "Pressure"
    },
    {
      "observation": "windSpeed",
      "current": $current.windSpeed.json,
      "unit": "$unit.label.windSpeed",
      "label": "Wind Speed"
    },
    {
      "observation": "rain",
      "sum": $day.rain.sum.json,
      "unit": "$unit.label.rain",
      "label": "Rain"
    },
    {
      "observation": "UV",
      "current": $current.UV.json,
      "unit": "",
      "label": "UV Index"
    }
  ]
}
