#errorCatcher Echo
## daily.json.tmpl
{
  "meta": {
    "time": $current.dateTime.json,
    "startTimestamp": $day.start.raw,
    "endTimestamp": $day.end.raw
  },
  "observations": [
    {
      "observation": "outTemp",
      "min": $day.outTemp.min.json,
      "max": $day.outTemp.max.json,
      "unit": "$unit.label.outTemp",
      "graph": $day.outTemp.series(time_unit='unix_epoch', aggregate_interval=None).json
    },
    {
      "observation": "outHumidity",
      "min": $day.outHumidity.min.json,
      "max": $day.outHumidity.max.json,
      "unit": "$unit.label.outHumidity",
      "graph": $day.outHumidity.series(time_unit='unix_epoch', aggregate_interval=None).json
    },
    {
      "observation": "rain",
      "sum": $day.rain.sum.json,
      "unit": "$unit.label.rain",
      "graph": $day.rain.series(time_unit='unix_epoch', aggregate_type='sum', aggregate_interval=3600).json
    },
    {
      "observation": "rainRate",
      "max": $day.rainRate.max.json,
      "unit": "$unit.label.rainRate",
      "graph": $day.rainRate.series(time_unit='unix_epoch', aggregate_type='max', aggregate_interval=3600).json
    },
    {
      "observation": "windSpeed",
      "max": $day.windSpeed.max.json,
      "avg": $day.windSpeed.avg.json,
      "unit": "$unit.label.windSpeed",
      "graph": $day.windSpeed.series(time_unit='unix_epoch', aggregate_interval=None).json
    },
    {
      "observation": "windDir",
      "graph": $day.windDir.series(time_unit='unix_epoch', aggregate_interval=None).json
    }
  ]
}
