#errorCatcher Echo
## forecast.json.tmpl
##
## This template generates JSON forecast data for the Aero skin.
## It uses the $aero_forecast variable provided by the AeroForecast Search List Extension.
##
#set $has_forecast = False
#try
  #set $has_forecast = $aero_forecast is not None and 'hourly' in $aero_forecast
#except
  #set $has_forecast = False
#end try
##
#if $has_forecast
{
  "meta": {
    "time": $current.dateTime.raw,
    "provider": "$aero_forecast['provider']",
    "updated": $aero_forecast['updated'],
    "enabled": true
  },
  "hourly": [
#set $hourly_items = $aero_forecast['hourly']
#for $i, $hour in enumerate($hourly_items)
    {
      "timestamp": "$hour.get('timestamp', '')",
      "temp": $hour.get('temp', 'null'),
      "tempUnit": "\u00b0F",
      "humidity": $hour.get('humidity', 'null'),
      "precipProb": #echo $hour.get('precipProb', 'null')#,
      "precip": #echo $hour.get('precip', 'null')#,
      "precipUnit": "$unit.label.rain",
      "weatherCode": #echo $hour.get('weatherCode', 'null')#,
      "icon": "$hour.get('icon', 'cloud')",
      "windSpeed": #echo $hour.get('windSpeed', 'null')#,
      "windSpeedUnit": "$unit.label.windSpeed",
      "windDir": #echo $hour.get('windDir', 'null')#
    }#if $i < len($hourly_items) - 1 then ',' else ''#
#end for
  ],
  "daily": [
#set $daily_items = $aero_forecast.get('daily', [])
#for $i, $day in enumerate($daily_items)
    {
      "date": "$day.get('date', '')",
      "tempHigh": $day.get('tempHigh', 'null'),
      "tempLow": $day.get('tempLow', 'null'),
      "tempUnit": "\u00b0F",
      "precip": #echo $day.get('precip', 'null')#,
      "precipProb": #echo $day.get('precipProb', 'null')#,
      "precipUnit": "$unit.label.rain",
      "weatherCode": #echo $day.get('weatherCode', 'null')#,
      "icon": "$day.get('icon', 'cloud')",
      "windSpeed": #echo $day.get('windSpeed', 'null')#,
      "windSpeedUnit": "$unit.label.windSpeed"
    }#if $i < len($daily_items) - 1 then ',' else ''#
#end for
  ],
  "alerts": [
#set $alert_items = $aero_forecast.get('alerts', [])
#for $i, $alert in enumerate($alert_items)
    {
      "event": "$alert.get('event', '')",
      "headline": "$alert.get('headline', '')",
      "description": "$alert.get('description', '')",
      "severity": "$alert.get('severity', '')",
      "urgency": "$alert.get('urgency', '')",
      "onset": "$alert.get('onset', '')",
      "expires": "$alert.get('expires', '')",
      "instruction": "$alert.get('instruction', '')"
    }#if $i < len($alert_items) - 1 then ',' else ''#
#end for
  ]
}
#else
## Forecast is disabled or unavailable
{
  "meta": {
    "time": $current.dateTime.raw,
    "provider": null,
    "updated": null,
    "enabled": false
  },
  "hourly": [],
  "daily": [],
  "alerts": []
}
#end if
