#errorCatcher Echo
## month.json.tmpl
{
  "meta": {
    "time": $current.dateTime.raw
  },
  "observations": [
    {
      "observation": "outTemp",
      "min": $month.outTemp.min.raw,
      "max": $month.outTemp.max.raw,
      "unit": "$unit.label.outTemp",
      "graph": $month.outTemp.series(time_unit='unix_epoch', aggregate_interval=10800).json
    },
    {
      "observation": "rain",
      "sum": $month.rain.sum.raw,
      "unit": "$unit.label.rain",
      "graph": $month.rain.series(time_unit='unix_epoch', aggregate_interval=10800).json
    }
  ]
}
