#errorCatcher Echo
## month.json.tmpl
{
  "meta": {
    "time": $current.dateTime.json,
    "startTimestamp": $month.start.raw,
    "endTimestamp": $month.end.raw
  },
  "observations": [
    {
      "observation": "outTemp",
      "min": $month.outTemp.min.json,
      "max": $month.outTemp.max.json,
      "unit": "$unit.label.outTemp",
      "graph": $month.outTemp.series(time_unit='unix_epoch', aggregate_interval=10800).json
    },
    {
      "observation": "outHumidity",
      "min": $month.outHumidity.min.json,
      "max": $month.outHumidity.max.json,
      "unit": "$unit.label.outHumidity",
      "graph": $month.outHumidity.series(time_unit='unix_epoch', aggregate_interval=10800).json
    },
    {
      "observation": "barometer",
      "min": $month.barometer.min.json,
      "max": $month.barometer.max.json,
      "unit": "$unit.label.barometer",
      "graph": $month.barometer.series(time_unit='unix_epoch', aggregate_interval=10800).json
    },
    {
      "observation": "windSpeed",
      "min": $month.windSpeed.min.json,
      "max": $month.windSpeed.max.json,
      "unit": "$unit.label.windSpeed",
      "graph": $month.windSpeed.series(time_unit='unix_epoch', aggregate_interval=10800).json
    },
    {
      "observation": "windGust",
      "max": $month.windGust.max.json,
      "unit": "$unit.label.windSpeed",
      "graph": $month.windGust.series(time_unit='unix_epoch', aggregate_interval=10800).json
    },
    {
      "observation": "rain",
      "sum": $month.rain.sum.json,
      "unit": "$unit.label.rain",
      "graph": $month.rain.series(time_unit='unix_epoch', aggregate_interval=10800).json
    },
    {
      "observation": "rainRate",
      "max": $month.rainRate.max.json,
      "unit": "$unit.label.rainRate",
      "graph": $month.rainRate.series(time_unit='unix_epoch', aggregate_interval=10800).json
    }
  ]
}
